.node-red
[{"id":"b6018a75.d55a78","type":"tab","label":"POST Request"},{"id":"249cecfe.6610d4","type":"tab","label":"Websocket"},{"id":"59009341.acbf1c","type":"websocket-listener","z":"","path":"ws://localhost:1337/servers/zetta-server/events?topic=photocell%2F481edfb5-a4f1-42a0-85eb-677d42e1cf4f%2Fintensity","wholemsg":"false"},{"id":"915f417a.ca71b","type":"ui_group","z":"","name":"UI","tab":"","disp":true,"width":"6"},{"id":"10596d77.7b6b43","type":"ui_tab","name":"Tab","icon":"dashboard","order":0},{"id":"5c9d12c0.c8f43c","type":"ui_group","name":"Group","tab":"10596d77.7b6b43","order":null,"disp":true,"width":6},{"id":"d1fba6eb.4b8ea8","type":"debug","z":"b6018a75.d55a78","name":"","active":false,"console":"false","complete":"true","x":627,"y":198,"wires":[]},{"id":"16fb92ea.6201ed","type":"inject","z":"b6018a75.d55a78","name":"turn-off","topic":"","payload":"{ \"action\" : \"turn-off\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":106,"y":202,"wires":[["5af14453.91a2ec"]]},{"id":"7c89f18c.f023f","type":"http request","z":"b6018a75.d55a78","name":"turn-off LED","method":"POST","ret":"txt","url":"http://localhost:1337/servers/zetta-server/devices/32c49e8e-211e-4299-a720-b1799da44961?action=turn-off","tls":"","x":467.5,"y":201,"wires":[["d1fba6eb.4b8ea8"]]},{"id":"55b684d.0c9347c","type":"http request","z":"b6018a75.d55a78","name":"turn-on LED","method":"POST","ret":"txt","url":"http://localhost:1337/servers/zetta-server/devices/32c49e8e-211e-4299-a720-b1799da44961","tls":"","x":469,"y":327,"wires":[["833390b.086357"]]},{"id":"87dd3bed.4e4a98","type":"inject","z":"b6018a75.d55a78","name":"turn-on","topic":"","payload":"{ \"action\" : \"turn-on\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":103.5,"y":332,"wires":[["4e0172d8.7578ac"]]},{"id":"833390b.086357","type":"debug","z":"b6018a75.d55a78","name":"","active":true,"console":"false","complete":"true","x":634.5,"y":327,"wires":[]},{"id":"c692248a.2b6d88","type":"function","z":"b6018a75.d55a78","name":"Format Request","func":"\nmsg.url = \"http://localhost:1337/servers/zetta-server/devices/32c49e8e-211e-4299-a720-b1799da44961\";\nmsg.method = \"POST\";\nmsg.headers = { \"content-type\" : \"application/x-www-form-urlencoded\" };\nmsg.payload =  { \"action\" : \"toggle\" };\n\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":429,"wires":[["eb74bb57.3b1558","103331a7.f39e4e"]]},{"id":"eb74bb57.3b1558","type":"http request","z":"b6018a75.d55a78","name":"Zetta API Request","method":"use","ret":"txt","url":"","tls":"","x":512,"y":428,"wires":[["71c40957.63e318"]]},{"id":"b1286718.66f788","type":"inject","z":"b6018a75.d55a78","name":"toggle","topic":"","payload":" { \"action\" : \"toogle\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":429,"wires":[["c692248a.2b6d88","65a22067.3106c"]]},{"id":"71c40957.63e318","type":"debug","z":"b6018a75.d55a78","name":"","active":false,"console":"false","complete":"true","x":685,"y":427,"wires":[]},{"id":"65a22067.3106c","type":"debug","z":"b6018a75.d55a78","name":"","active":false,"console":"false","complete":"false","x":285,"y":512,"wires":[]},{"id":"103331a7.f39e4e","type":"debug","z":"b6018a75.d55a78","name":"","active":false,"console":"false","complete":"true","x":470,"y":512,"wires":[]},{"id":"ad09825c.e69c1","type":"debug","z":"b6018a75.d55a78","name":"","active":false,"console":"false","complete":"true","x":457,"y":381,"wires":[]},{"id":"4e0172d8.7578ac","type":"function","z":"b6018a75.d55a78","name":"Format Request","func":"msg.headers = { \"content-type\" : \"application/x-www-form-urlencoded\" };\n\nreturn msg;","outputs":1,"noerr":0,"x":286,"y":327,"wires":[["55b684d.0c9347c","ad09825c.e69c1"]]},{"id":"5af14453.91a2ec","type":"function","z":"b6018a75.d55a78","name":"Format Request","func":"msg.headers = { \"content-type\" : \"application/x-www-form-urlencoded\" };\n\nreturn msg;","outputs":1,"noerr":0,"x":266,"y":201,"wires":[["3044234c.eac93c","7c89f18c.f023f"]]},{"id":"3044234c.eac93c","type":"debug","z":"b6018a75.d55a78","name":"","active":false,"console":"false","complete":"true","x":435,"y":251,"wires":[]},{"id":"50bf7ae0.96c384","type":"websocket in","z":"249cecfe.6610d4","name":"Zetta Server Log","server":"59009341.acbf1c","client":"","x":145.5,"y":83,"wires":[["e40df189.73e8e"]]},{"id":"e40df189.73e8e","type":"debug","z":"249cecfe.6610d4","name":"","active":false,"console":"false","complete":"false","x":637,"y":82,"wires":[]},{"id":"4db4bf82.4b06a","type":"websocket in","z":"249cecfe.6610d4","name":"Photocell Intensity","server":"59009341.acbf1c","client":"","x":151.5,"y":234,"wires":[["ecbf7104.dc328","bfca2244.2480a"]]},{"id":"ecbf7104.dc328","type":"debug","z":"249cecfe.6610d4","name":"","active":false,"console":"false","complete":"false","x":630,"y":233,"wires":[]},{"id":"bfca2244.2480a","type":"ui_gauge","z":"249cecfe.6610d4","name":"Photocell Intensity","group":"5c9d12c0.c8f43c","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value | number: 1}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"x":618,"y":356,"wires":[]}]