.node-red
[{"id":"b6018a75.d55a78","type":"tab","label":"POST Request"},{"id":"59009341.acbf1c","type":"websocket-listener","z":"","path":"ws://localhost:1337/servers/zetta-server/events?topic=logs","wholemsg":"false"},{"id":"a4f12d5.ebde0d","type":"websocket in","z":"b6018a75.d55a78","name":"","server":"59009341.acbf1c","client":"","x":304,"y":113,"wires":[["1089356.4d977cb"]]},{"id":"1089356.4d977cb","type":"debug","z":"b6018a75.d55a78","name":"","active":false,"console":"false","complete":"true","x":657,"y":112,"wires":[]},{"id":"d1fba6eb.4b8ea8","type":"debug","z":"b6018a75.d55a78","name":"","active":true,"console":"false","complete":"true","x":627,"y":198,"wires":[]},{"id":"16fb92ea.6201ed","type":"inject","z":"b6018a75.d55a78","name":"turn-off","topic":"","payload":"{ \"action\" : \"turn-off\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":106,"y":202,"wires":[["5af14453.91a2ec"]]},{"id":"7c89f18c.f023f","type":"http request","z":"b6018a75.d55a78","name":"turn-off LED","method":"POST","ret":"txt","url":"http://localhost:1337/servers/zetta-server/devices/32c49e8e-211e-4299-a720-b1799da44961?action=turn-off","tls":"","x":467.5,"y":201,"wires":[["d1fba6eb.4b8ea8"]]},{"id":"55b684d.0c9347c","type":"http request","z":"b6018a75.d55a78","name":"turn-on LED","method":"POST","ret":"txt","url":"http://localhost:1337/servers/zetta-server/devices/32c49e8e-211e-4299-a720-b1799da44961","tls":"","x":469,"y":327,"wires":[["833390b.086357"]]},{"id":"87dd3bed.4e4a98","type":"inject","z":"b6018a75.d55a78","name":"turn-on","topic":"","payload":"{ \"action\" : \"turn-on\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":103.5,"y":332,"wires":[["4e0172d8.7578ac"]]},{"id":"833390b.086357","type":"debug","z":"b6018a75.d55a78","name":"","active":true,"console":"false","complete":"true","x":634.5,"y":327,"wires":[]},{"id":"c692248a.2b6d88","type":"function","z":"b6018a75.d55a78","name":"Format Request","func":"\nmsg.url = \"http://localhost:1337/servers/zetta-server/devices/32c49e8e-211e-4299-a720-b1799da44961\";\nmsg.method = \"POST\";\nmsg.headers = { \"content-type\" : \"application/x-www-form-urlencoded\" };\nmsg.payload =  { \"action\" : \"toggle\" };\n\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":429,"wires":[["eb74bb57.3b1558","103331a7.f39e4e"]]},{"id":"eb74bb57.3b1558","type":"http request","z":"b6018a75.d55a78","name":"Zetta API Request","method":"use","ret":"txt","url":"","tls":"","x":512,"y":428,"wires":[["71c40957.63e318"]]},{"id":"b1286718.66f788","type":"inject","z":"b6018a75.d55a78","name":"toggle","topic":"","payload":" { \"action\" : \"toogle\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":429,"wires":[["c692248a.2b6d88","65a22067.3106c"]]},{"id":"71c40957.63e318","type":"debug","z":"b6018a75.d55a78","name":"","active":false,"console":"false","complete":"true","x":685,"y":427,"wires":[]},{"id":"65a22067.3106c","type":"debug","z":"b6018a75.d55a78","name":"","active":false,"console":"false","complete":"false","x":285,"y":512,"wires":[]},{"id":"103331a7.f39e4e","type":"debug","z":"b6018a75.d55a78","name":"","active":false,"console":"false","complete":"true","x":470,"y":512,"wires":[]},{"id":"ad09825c.e69c1","type":"debug","z":"b6018a75.d55a78","name":"","active":false,"console":"false","complete":"true","x":457,"y":381,"wires":[]},{"id":"4e0172d8.7578ac","type":"function","z":"b6018a75.d55a78","name":"Format Request","func":"msg.headers = { \"content-type\" : \"application/x-www-form-urlencoded\" };\n\nreturn msg;","outputs":1,"noerr":0,"x":286,"y":327,"wires":[["55b684d.0c9347c","ad09825c.e69c1"]]},{"id":"5af14453.91a2ec","type":"function","z":"b6018a75.d55a78","name":"Format Request","func":"msg.headers = { \"content-type\" : \"application/x-www-form-urlencoded\" };\n\nreturn msg;","outputs":1,"noerr":0,"x":266,"y":201,"wires":[["3044234c.eac93c","7c89f18c.f023f"]]},{"id":"3044234c.eac93c","type":"debug","z":"b6018a75.d55a78","name":"","active":false,"console":"false","complete":"true","x":435,"y":251,"wires":[]}]